.social-icon {
    color: white;
    font-size: 32px;
    cursor: pointer;
}

.social-icon:hover {
    color: hsl(12, 88%, 59%);
}

.icon-youtube {
    position: absolute;
    font-size: 24px;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .social-icon {
        font-size: 20px;
    }

    .icon-youtube {
        font-size: 16px;
    }
}
